<%- include('../template/_header_type', { page: json['type05'] }); %>
  <main class="main js-canvas-parent">
    <canvas id="myCanvas" class="js-canvas p-canvas"></canvas>
    <div class="container">
      <section>
        文章です。
      </section>
      <section>
        文章です。
      </section>
      <section>
        文章です。
      </section>
      <section>
        文章です。
      </section>
      <section>
        文章です。
      </section>
      <section>
        文章です。
      </section>
      <section>
        文章です。
      </section>
    </div>
  </main>
  <footer class="footer">
  </footer>
  <style>
    body {
      background: rgb(51, 51, 51);
      overflow-y: scroll !important;
    }
    .container {
      position: absolute;
      width: 100vw;
      z-index: 100;
      text-align: center;
      font-size: 40px;
      margin-top: 70px;
      color: #fff;
    }
    section {
      min-height:100vh;
    }
    .p-canvas {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
    }
  </style>
  <script src="../js/jquery-3.5.1.min.js"></script>
  <script src="../js/stats.js"></script>
  <script src="../js/lil-gui.js"></script>
  <script src="../js/three.min.js"></script>
  <script src="../js/OrbitControls.js"></script>
  <script src="../js/type/type07.js"></script>
  </body>
  </html>