<%- include('../template/_header_type', { page: json['type04'] }); %>
  <main class="main">
    <!-- <canvas id="myCanvas"></canvas> -->
    <div id="webgl"></div>

<!-- vertexShader -->
<script id="js-vertex-shader" type="x-shader/x-vertex">
  attribute vec3 position;
attribute vec3 color;
attribute float alpha;
uniform mat4 modelViewMatrix;
uniform mat4 projectionMatrix;
varying vec3 v_color;
varying float v_alpla;

void main() {
    v_color = color;
    v_alpla = alpha;

    gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0 );
    gl_PointSize = 6.0;
}
  </script>
  
  <!-- fragmentShader -->
  <script id="js-fragment-shader" type="x-shader/x-fragment">
    precision mediump float;

    varying vec3 v_color;
    varying float v_alpla;
    
    void main() {
        vec2 temp = gl_PointCoord - vec2(0.5);
        float f = dot(temp, temp);
        if (f > 0.25 ) {
            discard;
        }
    
        gl_FragColor = vec4(v_color, v_alpla);
    }
  </script>
  </main>
  <footer class="footer">
  </footer>
  <script src="../js/jquery-3.5.1.min.js"></script>
  <script src="../js/stats.js"></script>
  <script src="../js/gsap.min.js"></script>
  <script src="../js/three.min.js"></script>
  <script src="../js/OrbitControls.js"></script>
  <script src="../js/type/type04.js"></script>
  </body>
  </html>