<%- include('../template/_header_type', { page: json['type03'] }); %>
  <main class="main js-canvas-parent">
    <canvas id="myCanvas" class="js-canvas"></canvas>
  </main>
  <footer class="footer">
  </footer>
  <script src="../js/jquery-3.5.1.min.js"></script>
  <script src="../js/stats.js"></script>
  <script src="../js/three.min.js"></script>
  <script src="../js/OrbitControls.js"></script>
  <script src="../js/type/type03.js"></script>
  </body>
  </html>