
  <%- include('../template/_header_type', { page: json['type05'] }); %>
  <main class="main js-canvas-parent">
    <canvas id="myCanvas" class="js-canvas p-canvas"></canvas>
    <div class="content">
      <p>adipisicing elit, sed do </p>
      <p>Lorem ipsum dolor sit amet</p>
      <p>sed do eiusmod tempor </p>
      <p>reprehenderit in voluptate velit </p>
      <p>ut labore et dolore magna aliqua. Ut enim ad</p>
      <p>incididunt ut labore et dolore</p>
      <p>consectetur adipisicing elit</p>
      <p>reprehenderit in voluptate velit </p>
      <p>ut labore et dolore magna aliqua. Ut enim ad</p>
      <p>incididunt ut labore et dolore</p>
      <p>consectetur adipisicing elit</p>
      <p>reprehenderit in voluptate velit </p>
      <p>ut labore et dolore magna aliqua. Ut enim ad</p>
      <p>incididunt ut labore et dolore</p>
      <p>consectetur adipisicing elit</p>
      <p>reprehenderit in voluptate velit </p>
      <p>ut labore et dolore magna aliqua. Ut enim ad</p>
      <p>incididunt ut labore et dolore</p>
      <p>consectetur adipisicing elit</p>
      <p>reprehenderit in voluptate velit </p>
      <p>ut labore et dolore magna aliqua. Ut enim ad</p>
      <p>incididunt ut labore et dolore</p>
      <p>consectetur adipisicing elit</p>
      <p>reprehenderit in voluptate velit </p>
      <p>ut labore et dolore magna aliqua. Ut enim ad</p>
      <p>incididunt ut labore et dolore</p>
      <p>consectetur adipisicing elit</p>
    </div>
  </main>
  <footer class="footer">
  </footer>
  <style>
    body {
      background: rgb(51, 51, 51);
      overflow-y: scroll !important;
    }
    .content {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 11;
      margin: auto;
      padding: 0 200px;
      font-size: 60px;
      color: #7c7c7c;
      scrollbar-width: none;
      text-align: center;
    }
    .content p {
      margin-bottom: 150px;
    }
    .content::-webkit-scrollbar{
      display: none;
    }
    .p-canvas {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
    }
  </style>
  <script src="../js/jquery-3.5.1.min.js"></script>
  <script src="../js/stats.js"></script>
  <script src="../js/lil-gui.js"></script>
  <script src="../js/three.min.js"></script>
  <script src="../js/OrbitControls.js"></script>
  <script src="../js/type/type10.js"></script>
  </body>
  </html>