@use "../glb" as g;

.l-mv {
  position: relative;
  overflow: hidden;
  &__inner {
    width: 90%;
    max-width: 1200px;
    color: rgb(98, 176, 153);
    @include g.marginAuto;
    min-height: 250px;
    color: #fff;
    @include g.f-c;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  &__ttl {
    @include g.fontHeight(3rem,2);
  }
  &__txt {
    @include g.fontHeight(1.6rem,2);
    @include g.RobotoMediumItalic;
    color: #a1a1a1;
  }
  &__canvas {
    background: #0a0a0a;
    @include g.absolute_full;
    z-index: 0;
  }
  &__bg {
    @include g.absolute_full;
    z-index: 1;
  }
}