<footer class="l-footer">
  <small class="l-footer__small">Copyright © 2022 shavat</small>
</footer>
<script src="./js/jquery-3.5.1.min.js"></script>
<script src="./js/createjs.min.js"></script>
<script src="./js/particlejs.min.js"></script>
<script src="./js/finisher-header.es5.min.js"></script>
<script src="./js/index.js"></script>
</body>
</html>