<% var _default=json['default']; for ( var key in _default ) { if ( typeof page[key]==='undefined' ) {
  page[key]=_default[key]; } } -%>

  <!DOCTYPE html>
  <html lang="ja">

  <head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="canonical" href="<%= page['canonical'] %>">
    <!-- ogp -->
    <meta property="og:locale" content="ja_JP">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="images/ogp.jpg">
    <title>
      <%= page['title'] %>
    </title>
    <meta name="description" content="<%= page['description'] %>">
  </head>

  <body class="body">
    <header class="header">
    </header>