@use "../glb" as g;

.p-contact {
  position: relative;
  color: #6baf19;
  color: #3caacc;
  color: #a1a1a1;
  align-items: center;
  justify-content: center;
}

// reCAPTCHA
.grecaptcha-badge {
  visibility: hidden;
}