@use '../glb' as g;

.p-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include g.fullHeight;
}

.test {
  color: #31c5d8;
}
.end-message {
  display: none;
}

.false-message {
  display: none;
}