@use '../glb' as g;

.p-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include g.fullHeight;
}

.p-type {
  padding-bottom: 100px;
  &__list {
    @include g.grid_autofill(350px);
    gap: 30px;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    @include g.marginAuto;
  }
}

.p-type-item {
  counter-increment: number;
  border-radius: 5px;
  @include g.RobotoMediumItalic;
  position: relative;
  &__img {
    border-radius: 10px;
    overflow: hidden;
    @include g.ratio_container(56.25%);
    border: 2px solid transparent;
    @include g.transition(bc);
    img {
      @include g.absolute_full(fit);
      @include g.transition;
    }
  }
  &__ttl {
    @include g.fontHeight(2.4rem,3);
    @include g.SourceHanSansJP_Medium;
    @include g.transition(cb);
  }
  &__box {
    padding: 1em 1.3em;
    color: #fff;
    &::before {
      content: 'type'counter(number, decimal-leading-zero);
      display: block;
      margin-bottom: 3px;
      font-size: 1.6rem;
      @include g.transition(cb);
    }
  }
  &__link {
    @include g.absolute_full;
  }
  @include g.hover {
    .p-type-item__img {
      border: 2px solid #0084ff;
    }
    .p-type-item__ttl {
      color: #5eb1ff;
    }
    .p-type-item__box {
      &::before {
        color: #5eb1ff;
      }
    }
  }
}

@keyframes circleAnime{
	0%{
    transform: scale(0);
    opacity: 1;
	}
	100%{
		transform:scale(2);
		opacity: 0;
	}
}

.p-mouse {
  &-cursor {
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    @include g.transition(b);
    &.is-active {
      background: #0084ff;
    }
  }
  &-bg {
    transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    position: absolute;
    pointer-events: none;
    &__inner {
      position: relative;
      display: block;
      @include g.f-c;
      &::before {
        content: '';
        position: absolute;
        border: 1px solid #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        animation: 1s circleAnime infinite ease-out;
        @include g.transition(bc);
      }
    }
    &.is-active {
      .p-mouse-bg__inner::before {
        border-color: #0084ff;
      }
    }
  }
}