<%- include('./template/_header', { page: json['home'] }); %>
  <main class="main">
    <form name="myform">
      <table border=1 cellpadding=4>
      <tr><td>
      <input type="checkbox" value="500" onClick="calc_total()" id="optin1">
      　<label for="optin1">ラーメン（５００円）</label></td></tr>
      <tr><td>
      <input type="checkbox" value="600" onClick="calc_total()" id="optin2">
      　<label for="optin2">チャーハン（６００円）</label></td></tr>
      <tr><td>
      <input type="checkbox" value="10000" onClick="calc_total()" id="optin3">
      　<label for="optin3">酢豚（６００円）</label></td></tr>
      <tr><td>
      <input type="checkbox" value="800" onClick="calc_total()" id="optin4">
      　<label for="optin4">Ａ定食（８００円）</label></td></tr>
      <tr><td>
      <input type="checkbox" value="900" onClick="calc_total()" id="optin5">
      　<label for="optin5">Ｂ定食（９００円）</label></td></tr>
      <tr><td align="center">
      合計金額：
      <input type="text" name="goukei">
      </td></tr>
      </table>
      </form>
  </main>
<%- include( './template/_footer' ); %>