<%- include('./template/_header', { page: json['home'] }); %>
  <main class="main">
    <p>Hello static-dev</p>
    <div>
      <canvas id="myCanvas01"></canvas>
    </div>
    <div>
      <!-- <canvas id="myCanvas02"></canvas> -->
    </div>
  </main>
<%- include( './template/_footer' ); %>