<%- include('./template/_header', { page: json['home'] }); %>
  <main class="l-main l-main--top">
    <div class="l-mv u-mb30">
      <div class="l-mv__inner">
        <h2 class="l-mv__ttl">ポートフォリオ</h2>
        <p class="l-mv__txt">- portfolio -</p>
      </div>
      <div class="l-mv__bg finisher-header"></div>
    </div>
    <div class="p-type">
      <ul class="p-type__list">
        <li class="p-type-item">
          <div class="p-type-item__img">
            <img src="./images/type01_thum.jpg" alt="">
          </div>
          <div class="p-type-item__box">
            <h2 class="p-type-item__ttl">フレームランダム配置</h2>
          </div>
          <a href="./type/type01.html" class="p-type-item__link"></a>
        </li>
        <li class="p-type-item">
          <div class="p-type-item__img">
            <img src="./images/type02_thum.jpg" alt="">
          </div>
          <div class="p-type-item__box">
            <h2 class="p-type-item__ttl">天体パーティクルとカプセルスフィア</h2>
          </div>
          <a href="./type/type02.html" class="p-type-item__link"></a>
        </li>
        <li class="p-type-item">
          <div class="p-type-item__img">
            <img src="./images/noimage.png" alt="">
          </div>
          <div class="p-type-item__box">
            <h2 class="p-type-item__ttl">----</h2>
          </div>
        </li>
      </ul>
    </div>
    <!-- <div class="p-mouse-cursor js-mouse-cursor"></div>
    <div class="p-mouse-bg js-mouse-bg">
      <div class="p-mouse-bg__inner"></div>
    </div> -->
  </main>
<%- include( './template/_footer' ); %>