<%- include('./template/_header', { page: json['home'] }); %>
  <main class="main">
    <div class="p-canvas">
      <canvas id="myCanvas"></canvas>
    </div>
  </main>
<%- include( './template/_footer' ); %>